@use '../../containerStyles.scss';
@import '../../containerStyles.scss';

// * NOTE Select element styles
.container__select {
 @include item_style;
 overflow-x: hidden;
 width: 100%;
 height: 25rem;
 margin: 0 auto 0;
}

.form__select {
 z-index: 1;
 width: 9rem;
 padding: 0.625rem;
 border-radius: 10px;
}

.select-header {
 z-index: 1;
 position: relative;
 width: 9rem;
 padding: 0.625rem;
 border: 1px solid black;
 border-radius: 10px;
 margin: 0 auto;
 outline: none;
}

.select-header__title {
 span {
  margin: auto auto auto 8px;
 }
}

.select-wrapper__list {
 z-index: 1;
 padding: 5px;
 border-radius: 5px;
 margin: 0 auto;
 background-color: white;
 list-style: none;
}

.select-wrapper__list-item {
 z-index: 1;
 width: 9rem;
 padding: 5px;
 border: 1px solid black;
 border-radius: 10px;
 margin: 0 auto;
}

.heading__picked-color {
 margin: 6rem auto 0;
}

.img-cloud {
 z-index: 0;
 pointer-events: none;
 position: absolute;
 transform: translate(-50%, 5%);
 margin: 0 auto;
 height: 12rem;
}

.img-cloud-path--blue {
 stroke: blue;
}
.img-cloud-path--red {
 stroke: red;
}
.img-cloud-path--green {
 stroke: green;
}
.img-cloud-path--yellow {
 stroke: yellow;
}
