@use '../../containerStyles.scss';
@import '../../containerStyles.scss';

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* NOTE Select element styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container-select {
 height: 15rem;
 margin: auto;
 z-index: 2;
}

.select-wrapper {
 margin: 0.5rem auto;
}

.select-header {
 background-color: white;
 border: 1px solid black;
 margin: 0 auto;
 outline: none;
 padding: 0.625rem;
 position: relative;
 width: 9rem;
 z-index: 1;
}

.select-header__title {
 cursor: pointer;
 span {
  margin: auto auto auto 8px;
 }
}

.select-wrapper__list {
 list-style: none;
 margin: 0 auto;
 overflow: hidden;
 padding: 0;
 z-index: 2;
}

.select-wrapper__list-item {
 background-color: white;
 border: 1px solid black;
 margin: 0 auto;
 padding: 5px;
 width: 9rem;
 z-index: 1;
 span {
  cursor: pointer;
 }
}

.heading__picked-color {
 margin: 4rem auto 0;
 width: 12rem;
}

.select-header__arrow-img {
 width: 20px;
}

.img-cloud {
 height: 12rem;
 margin: 0 auto;
 pointer-events: none;
 position: absolute;
 transform: translate(-50%, 5%);
 z-index: -1;
 @media (max-width: 900px) {
  height: 10rem;
 }
}

.img-cloud-path--blue {
 stroke: blue;
}
.img-cloud-path--red {
 stroke: red;
}
.img-cloud-path--green {
 stroke: green;
}
.img-cloud-path--yellow {
 stroke: yellow;
}
