{
 "presets": [
  [
   "@babel/preset-env",
   {
    "useBuiltIns": false
   }
  ],
  "@babel/preset-react"
 ],
 "env": {
  "development": {
   "plugins": [
    "transform-es2015-modules-commonjs",
    [
     "@babel/plugin-transform-runtime",
     {
      "regenerator": true
     }
    ]
   ]
  }
 }
}
