@mixin btn_style {
 border: none;
 background-color: transparent;
 font-family: inherit;
 padding: 0;
 cursor: pointer;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 background-color: blue;
 color: #fff;
 border-radius: 8px;
 box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
 padding: 0.25em 0.75em;
 min-width: 10ch;
 min-height: 44px;
 text-align: center;
 line-height: 1.1;
 transition: 300ms background-color ease-in-out;
 &:hover,
 &:active {
  background-color: scale-color(blue, $lightness: -20%);
 }
 &:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px scale-color(blue, $lightness: -40%);
 }
 @media screen and (-ms-high-contrast: active) {
  border: 2px solid currentcolor;
 }
}

.counter__btn {
 @include btn_style;
}
