@mixin btn_style {
 background-color: blue;
 border-radius: 8px;
 border: none;
 box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
 color: #fff;
 cursor: pointer;
 font-family: inherit;
 line-height: 1.1;
 min-height: 44px;
 min-width: 10ch;
 padding: 0.25em 0.75em;
 text-align: center;
 transition: 300ms background-color ease-in-out;
 &:hover,
 &:active {
  background-color: scale-color(blue, $lightness: -20%);
 }
 &:focus {
  box-shadow: 0 0 0 4px scale-color(blue, $lightness: -40%);
  outline-color: transparent;
  outline-style: solid;
 }
 @media screen and (-ms-high-contrast: active) {
  border: 2px solid currentcolor;
 }
}

.btn {
 @include btn_style;
}

.section-counter {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: auto;
 @media (max-width: 900px) {
  flex-direction: row;
 }
}

.section-counter__container-increment,
.section-counter__container-decrement {
 margin: auto 1rem;
}
