@use '../../containerStyles.scss';
@import '../../containerStyles.scss';
@use '../ButtonComponent/buttonStyles.scss';
@import '../ButtonComponent/buttonStyles.scss';

$min-width: 1200px;

.three-dimension-container {
 @include item_style;
 background-color: #fff;
 grid-column: 1/-1;
 min-height: 100vh;
 min-width: 100%;
 position: relative;
}

.container-pet {
 left: 50vw;
 position: absolute;
 top: 0rem;
 transform: translate(-50%);
 width: 100%;
 @media (min-width: $min-width) {
  top: 25vh;
 }
}

.container-flex-pet {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 @media (min-width: $min-width) {
  flex-direction: row;
 }
}

.container-choose-pet {
 margin: 2rem 0;
 @media (min-width: $min-width) {
  margin: 0 3rem;
 }
 &-duck {
  height: 12rem;
  width: 20rem;
  @media (min-width: $min-width) {
   height: 20rem;
   width: 50rem;
  }
 }
 &-cow {
  height: 8rem;
  width: 25rem;
  @media (min-width: $min-width) {
   height: 14rem;
   width: 25rem;
  }
 }
 &-chicken {
  height: 10rem;
  width: 30rem;
  @media (min-width: $min-width) {
   height: 20rem;
   width: 40rem;
  }
 }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
! TODO Refactor below rules to appear in one line
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container-choose-pet-btn__choose-btn {
 &-duck {
  @include btn_style;
 }
 &-cow {
  @include btn_style;
 }
 &-chicken {
  @include btn_style;
 }
}

.choose-pet-submit-btn {
 bottom: 3rem;
 position: absolute;
 right: 5rem;
 text-align: center;
 @media (min-width: $min-width) {
  bottom: 12rem;
  right: 8rem;
 }
}
