// * NOTE Wave section styles
#wave1 {
 z-index: 0;
}

.btn-wave {
 z-index: 1;
}

.container-wave {
 overflow: hidden;
}

.svg-wave1 {
 position: absolute;
 bottom: 10.9rem;
 left: 0;
 width: 100%;
 z-index: 0;
 pointer-events: none;
}

.container-wave-part {
 height: 11rem;
 width: 100%;
 position: absolute;
 left: 0;
 bottom: 0;
 background: #0099ff;
}
