@use '../ButtonComponent/buttonStyles.scss';
@import '../ButtonComponent/buttonStyles.scss';

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* NOTE Wave section styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#wave1 {
 z-index: 0;
}

.btn-wave {
 z-index: 1;
}

.container-wave {
 overflow: hidden;
}

.container-wave__btn-wave {
 @include btn_style;
}

.container-wave__treasure-img {
 margin: 3rem auto;
 position: relative;
 @media (max-width: 900px) {
  margin: 9rem auto;
 }
 @media (min-width: 900px) and (max-width: 1200px) {
  margin: 6rem auto;
 }
}

.svg-wave1 {
 bottom: 10.9rem;
 fill: #0099ff;
 left: 0;
 pointer-events: none;
 position: absolute;
 width: 100%;
 z-index: 0;
}

.container-wave-part {
 background: #0099ff;
 bottom: 0;
 height: 11rem;
 left: 0;
 position: absolute;
 width: 100%;
}
