@use '../ButtonComponent/buttonStyles.scss';
@import '../ButtonComponent/buttonStyles.scss';

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* NOTE Wave section styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#wave1 {
 z-index: 0;
}

.btn-wave {
 z-index: 1;
}

.container-wave {
 overflow: hidden;
}

.container-wave__btn-wave {
 @include btn_style;
 left: 50vw;
 position: absolute;
 top: 5rem;
 transform: translate(-50%);
}

.container-wave__container-treasure-img {
 margin: 0.3rem;
 overflow: visible;
}

.container-wave__treasure-img {
 margin: 3rem auto auto;
 position: relative;
 @media (max-width: 900px) {
  margin: 9rem auto auto;
 }
 @media (min-width: 900px) and (max-width: 1200px) {
  margin: 6rem auto auto;
 }
}

.svg-wave1 {
 bottom: 21.9rem;
 fill: #0099ff;
 left: 0;
 pointer-events: none;
 position: absolute;
 width: 100%;
 z-index: 0;
 @media (max-width: 900px) {
  bottom: 23.9rem;
 }
}

.container-wave-part {
 background: #0099ff;
 bottom: 0;
 height: 22rem;
 left: 0;
 position: absolute;
 width: 100%;
 @media (max-width: 900px) {
  height: 24rem;
 }
}

.container-portal {
 align-items: center;
 background-color: white;
 border: 1px solid black;
 display: flex;
 height: 90vh;
 justify-content: center;
 left: 50vw;
 position: relative;
 top: 0;
 transform: translate(-52.5%);
 width: 90vw;
 z-index: 9999;
}

.container-close-icon {
 position: absolute;
 bottom: 2rem;
}

.container-portal__container-heading {
 width: 100%;
}

.container-portal__heading {
 background-color: #F2F2F2;
 border-bottom: 5px solid green;
 font-size: 3rem;
 margin-top: 0;
 padding-bottom: 0.8rem;
 position: absolute;
 text-align: center;
 top: 2px;
 width: 100%;
}

.container-close-icon__btn {
 background-color: white;
}
