.fetch-section {
 align-items: center;
 display: flex;
 flex-direction: column;
 font-size: 2rem;
 height: 22rem;
 justify-content: center;
 position: absolute;
 width: 15rem;
}

.fetch-section__quote {
 align-items: center;
 display: flex;
 justify-content: center;
}

.fetch-section_quote-author {
 align-items: center;
 display: flex;
 justify-content: center;
}
