@mixin item_style {
 border-radius: 40px;
 box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.25),
  -3px -3px 8px 1px rgba(0, 0, 0, 0.22);
 margin: 0 auto 0;
 max-width: 45rem;
 padding-bottom: 2rem;
 padding-top: 2rem;
 position: relative;
 text-align: center;
 width: 100%;
 z-index: 0;
}

.container {
 display: grid;
 grid-gap: 1.125rem;
 grid-template-columns: repeat(2, minmax(200px, 1fr));
 margin: 2rem auto;
 @media (max-width: 900px) {
  grid-template-columns: 1fr;
 }
}

.item {
 @include item_style;
}

.item-full-width {
 @include item_style;
 grid-column: 1/-1;
 height: 29rem;
 min-width: 100%;
}
