@mixin item_style {
 border-radius: 40px;
 box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.25),
  -3px -3px 8px 1px rgba(0, 0, 0, 0.22);
 margin: 0 auto 0;
 max-width: 45rem;
 padding-bottom: 2rem;
 padding-top: 2rem;
 position: relative;
 text-align: center;
 width: 100%;
 z-index: 0;
}

.slides-container {
 height: 100vh;
 left: 0;
 overflow: hidden;
 position: absolute;
 top: 0;
 width: 100%;
 z-index: 10;
}

.slide {
 align-items: center;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 height: 105vh;
 justify-content: center;
 position: relative;
 text-align: center;
}

.background-img {
 height: 100vh;
 left: 0;
 object-fit: none;
 position: absolute;
 top: 0;
 width: 100vw;
 z-index: -1;
}

.slide-2 {
 align-items: flex-start;
 display: flex;
 justify-content: center;
 @media (max-width: 700px) {
  align-content: flex-start;
 }
}

.slide-3 {
 background-color: #ccebff;
}

.btn-container-next-prev {
 bottom: 4rem;
 position: absolute;
 right: 1rem;
 text-align: center;
}

.btn-go-prev-slide-2,
.btn-go-next-slide-2 {
 margin: auto 1rem;
}

.btn-go-prev-slide-3 {
 position: absolute;
 right: 2rem;
 bottom: 4rem;
}

.slide-2-flex-item {
 align-items: center;
 background-color: rgba(166, 166, 166, 0.5);
 border-radius: 10px;
 display: flex;
 justify-content: center;
 margin: auto 2rem;
 min-width: 21.875rem;
 padding: 1rem;
 width: 21.875rem;
 @media (max-width: 900px) {
  margin: 0;
 }
}

.slide-2-flex-item__numbering {
 &-first-tab {
  border-radius: 100%;
  border: 0.1em solid black;
  height: 2rem;
  left: -9.5rem;
  min-width: 2rem;
  position: relative;
  text-align: center;
  top: 2.5rem;
  width: 2rem;
  @media (max-width: 900px) {
   left: 0.4rem;
   top: -1rem;
  }
  p {
   color: black;
   font-family: sans-serif;
   font-size: 1.5em;
   font-weight: bold;
   margin-top: 0.1em;
  }
 }
 &-second-tab {
  border-radius: 100%;
  border: 0.1em solid black;
  height: 2rem;
  left: -3.5rem;
  position: relative;
  text-align: center;
  top: 0.4rem;
  width: 2rem;
  p {
   color: black;
   font-family: sans-serif;
   font-size: 1.5em;
   font-weight: bold;
   margin-top: 0.1em;
  }
 }
 &-third-tab {
  border-radius: 100%;
  border: 0.1em solid black;
  height: 2rem;
  left: -1rem;
  position: relative;
  text-align: center;
  top: -0.5rem;
  width: 2rem;
  p {
   color: black;
   font-family: sans-serif;
   font-size: 1.5em;
   font-weight: bold;
   margin-top: 0.1em;
  }
 }
}
