@font-face {
 font-family: 'Source Sans Pro';
 src: url('../fonts/SourceSansPro-Regular.ttf');
}

*,
::after,
::before {
 box-sizing: border-box;
 font-size: 100%;
 vertical-align: baseline;
}
body {
 font-family: 'Source Sans Pro', Arial, sans-serif;
 font-size: 16px;
 min-height: 100%;
 min-width: 240px;
 position: relative;
}
