@font-face {
 font-family: 'Source Sans Pro';
 src: url('../fonts/SourceSansPro-Regular.ttf');
}

*,
::after,
::before {
 box-sizing: border-box;
 font-size: 100%;
 vertical-align: baseline;
}
body {
 font-size: 16px;
 position: relative;
 min-height: 100%;
 min-width: 250px;
 font-family: 'Source Sans Pro', Arial, sans-serif;
}

@mixin item_style {
 z-index: 0;
 position: relative;
 text-align: center;
 padding: 2rem;
 border-radius: 40px;
 box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.25),
  -3px -3px 8px 1px rgba(0, 0, 0, 0.22);
}

.heading__title--shadow {
 position: relative;
 margin: 3rem auto;
 font-size: 5rem;
 text-align: center;
 text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.container {
 display: grid;
 grid-template-columns: repeat(2, minmax(200px, 1fr));
 grid-gap: 1.125rem;
 margin: 2rem auto;
 @media (max-width: 900px) {
  grid-template-columns: 1fr;
 }
}

.item {
 height: 16rem;
 @include item_style;
}

.item-full-width {
 height: 22rem;
 @include item_style;
 grid-column: 1/-1;
}

.container__form {
 margin: 0 auto;
 padding: 2rem;
 height: 16rem;
 width: 19rem;
 background-color: rgba(166, 166, 166, 0.11);
 border-radius: 40px;
}

.section__form {
 height: 21rem;
}

.container__select {
 position: relative;
 height: 23rem;
 margin: 3.5rem auto 0;
}

.select {
 z-index: 1;
}

.img-cloud {
 z-index: 0;
 pointer-events: none;
 position: absolute;
 top: -5rem;
 left: -3rem;
 margin: 0 auto;
 height: 10rem;
}

.img-cloud-path--blue {
 stroke: blue;
}
.img-cloud-path--red {
 stroke: red;
}
.img-cloud-path--green {
 stroke: green;
}
.img-cloud-path--yellow {
 stroke: yellow;
}

.svg-wave1 {
 position: absolute;
 bottom: 9rem;
 left: 0;
 width: 100%;
 z-index: 0;
 pointer-events: none;
}

#wave1 {
 z-index: 0;
}

#wave2 {
 display: none;
 z-index: 0;
}

.btn-wave {
 z-index: 1;
}

.container__wave {
 overflow: hidden;
}

.container__wave-part {
 height: 10rem;
 width: 100%;
 position: absolute;
 left: 0;
 bottom: 0;
 background: #0099ff;
}

.container__wave-part--animation {
 height: 1rem;
 width: 100%;
 position: absolute;
 left: 0;
 bottom: 0;
 background: #0099ff;
}

.svg__wave1--animation {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 z-index: 0;
 pointer-events: none;
}
