@use './components/formComponent/formStyles.scss';
@use './components/buttonComponent/buttonStyles.scss';
@use './global.scss';
@use './containerStyles.scss';
@use './components/buttonComponent/buttonStyles.scss';
@use './components/selectComponent/selectElementStyles.scss';
@use './components/waveComponent/waveStyles.scss';
@use './components/fetchComponent/fetchComponentStyles.scss';
@import './components/formComponent/formStyles.scss';
@import './components/buttonComponent/buttonStyles.scss';
@import './global.scss';
@import './containerStyles.scss';
@import './components/buttonComponent/buttonStyles.scss';
@import './components/selectComponent/selectElementStyles.scss';
@import './components/waveComponent/waveStyles.scss';
@import './components/fetchComponent/fetchComponentStyles.scss';
